.form {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
}

.label div {
  width: 100%;
}

.label:last-of-type {
  margin-bottom: 24px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input {
  width: 100%;
  background-color: #e3f2fd;
}

.inputContainer:hover svg {
  color: #03172b; 
}


.inputContainer:has(.input:focus) svg {
  color: #01101e;
}



.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 32px;
  max-height: 80vh;
  overflow: auto;
}

