.form {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
}

.label div {
  width: 100%;
}

.label:last-of-type {
  margin-bottom: 24px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input {
  width: 100%;
  background-color: #e3f2fd;
}

.inputContainer:hover svg {
  color: #03172b; /* цвет Material-UI primary */
}

/* При фокусе на input меняем цвет иконки */
.inputContainer:has(.input:focus) svg {
  color: #01101e;
}
