.container {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./public/mozilla-illustration-mozilla-firefox-vector-art-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(5px);
}

.glassEffect {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}

.glassEffect h1 {
  color: #00000079;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
  
  .glassEffect {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }
  
  .glassEffect {
    padding: 1rem;
  }
}