.footer {
  background-color: #2196F3;
  color: #fff;
  padding: 2rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}





.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}

.description {
  text-align: left; 
  max-width: 600px;
  flex: 1; 
}

.description p {
  font-size: 1rem;
  line-height: 1.5;
}

.socialLinks {
  display: flex;
  gap: 2rem;
}

.socialLink {
  color: #fff;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.socialLink:hover {
  transform: translateY(-5px);
  color: #1a1a1a;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 0;
  }

  

  .container {
    padding: 0 20px;
    flex-direction: column;
    text-align: center;
  }

  .description p {
    font-size: 0.9rem;
  }

  .socialLink {
    font-size: 1.8rem;
  }

  .socialLinks {
    gap: 1.8rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem 0;
  }

 

  .description p {
    font-size: 0.8rem;
  }

  .socialLink {
    font-size: 1.5rem;
  }

  .socialLinks {
    gap: 1.5rem;
  }
}


@media (max-width: 320px) {
  .footer {
    padding: 0.8rem 0;
  }

 

  .description p {
    font-size: 0.7rem;
  }

  .socialLink {
    font-size: 0.9rem;
  }

  .socialLinks {
    gap: 0.8rem;
  }
}
